<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>

<link rel ="stylesheet" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css"/>
<script type="text/javascript" th:src="@{js/bottom.css}" src="../static/css/bottom.css"></script>
<script type ="text/javascript" src="webjars/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" th:src="@{js/fv.min.js}" src="../static/js/fv.min.js"></script>
<script type ="text/javascript" src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="favicon.ico" />

    <title>Amdocs User Registration App</title>

    <!-- Bootstrap core CSS -->
    <link
            href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
            crossorigin="anonymous" />

    <link th:href="@{css/style.css}" rel="stylesheet" />
</head>


<body class="gray-bg">

<nav class="Header-nav Header-nav--primary" data-nc-element="primary-nav" data-content-field="navigation">
    <div class="container-fluid">
        <a href="/" class="btn btn-primary navbar-btn" data-test="template-nav">Home</a>
        <a href="/user/add" class="btn btn-info navbar-btn" data-test="template-nav">Register New User</a>
        <a href="/show/1" class="btn btn-success navbar-btn" data-test="template-nav">Show 1st user</a>
        <a href="/contact" class="btn btn-warning navbar-btn" data-test="template-nav">Contact</a>
    </div>
</nav>
<div th:switch="${users}">
    <div th:case="null">
        <span class="lead">No users yet registered!</span></div>
    <div th:case="*">
        <span class="lead">List of Users</span>
        <div th:if="${successMessage}" class="alert alert-success"
             role="alert" th:text=${successMessage}></div>

        <div th:if="${confirmationMessage}" class="alert alert-success"
             role="alert" th:text=${confirmationMessage}></div>

        <div th:if="${errorMessage}" class="alert alert-danger"
             role="alert" th:text=${errorMessage}></div>
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>UserName</th>
                <th>Email</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>ConfirmationToken</th>
                <th>status</th>
                <th>regDate</th>
                <th width="100">Edit</th>
                <th width="100">Deactivate</th>
                <th width="100">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.userName}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>

                <td th:switch="${user.status}">
                    <span th:case="'Deactivated'"><a th:href="@{/user/confirm?token={confirmationToken}(confirmationToken=${user.confirmationToken})}">Click here to Activate Your Account</a></span>
                    <span th:case="'Activated'" th:text="${user.confirmationToken}"></span>
                    <span th:case="'*'" th:text="${user.confirmationToken}"></span>
                </td>
                <td th:text="${user.status}"></td>
                <td th:text="${user.regDate}"></td>
                <td><a th:href="@{/user/update?userName={userName}(userName=${user.userName})}" class="btn btn-primary">Edit</a></td>

                <td th:switch="${user.status}">
                    <span th:case="'Deactivated'">Can't deactivate as user is not active yet</span>
                    <span th:case="'Activated'"><a th:href="@{/user/deactivate?id={id}(id=${user.id})}" class="btn btn-danger">Deactivate</a></span>
                    <span th:case="'*'">n/a</span>
                </td>
                <td th:switch="${user.status}">
                    <span th:case="'Deactivated'"><a th:href="@{/user/delete?id={id}(id=${user.id})}" class="btn btn-danger">Delete</a></span>
                    <span th:case="'Activated'">Can't delete as user is still Active</a></span>
                    <span th:case="'*'">n/a</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
    <div ng-view></div>
</body>
</html>